.NetflixApp {
  position: relative;
  text-align: center;
  min-height: 140vh;
  background-color: #141414;
}

.homePageBackground {
  display: block;
  position: "absolute";
  top: 0;
  width: 100%;
  filter: brightness(50%);
}

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: clamp(2.5rem, 4vw, 4rem);
  padding: 0 clamp(1rem, 3vw, 3rem);
  background-color: rgba(0, 0, 0, 0.1);
}

.navbar.opaque {
  background-color: rgba(0, 0, 0, 0.8);
}

.leftNav {
  height: 100%;
  display: flex;
  gap: 1rem;
}

.logoContainer {
  height: 100%;
}

.tabsContainer {
  /* margin-left: 1rem; */
  display: flex;
  gap: 1rem;
  align-items: center;
  list-style-type: none;
  /* border: 1px solid #777; */
}

.tabItem {
  color: #eee;
  font-size: clamp(0.6rem, 1vw, 1rem);
  cursor: pointer;
}

.tabItem:hover {
  color: #ccc;
}

.tabItem:active {
}

